includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/
        - %currentWorkingDirectory%/inc/
        - %currentWorkingDirectory%/parts/
        - %currentWorkingDirectory%/templates/
    autoload_directories:
        - %currentWorkingDirectory%/inc/
        - %currentWorkingDirectory%/inc/customizer/
        - %currentWorkingDirectory%/inc/plugins/
        - %currentWorkingDirectory%/parts/
        - %currentWorkingDirectory%/templates/
    autoload_files:
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function add_query_arg invoked with [123] parameters?, 0 required\.$#'
