q {
  padding: .25em .5em
}
fieldset {
  margin: 0 0 1.5rem 0;
  padding: 1.5rem .75rem
}
html {
  direction: rtl;
  unicode-bidi: normal
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1.2rem 0
}
hr {
  margin: 3rem auto
}
pre {
  margin: 3rem 0
}
input.radio {
  margin-left: .5em;
  margin-right: auto
}
.woocommerce #coupon_code,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
input.settings-input,
input.text,
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
  padding: .75rem .75rem
}
.woocommerce #coupon_code:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
input.settings-input:hover,
input.text:hover,
input[type=date]:hover,
input[type=datetime-local]:hover,
input[type=email]:hover,
input[type=month]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=text]:hover,
input[type=time]:hover,
input[type=url]:hover,
input[type=week]:hover,
select:hover,
textarea:hover {
  border-color: var(--foreground-color)
}
.woocommerce #coupon_code:focus,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:focus,
.woocommerce button.button:focus,
.woocommerce input.button:focus,
input.settings-input:focus,
input.text:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
  border-color: var(--foreground-color)
}
a.button,
button,
input[type=submit] {
  padding: .75rem 3rem
}
legend {
  padding: 0 .75rem
}
fieldset {
  padding: 1.5rem 1.5rem;
  margin: 3rem 0
}
ol,
ul {
  margin: 0 0 1.5rem 0;
  padding: 0 1.5rem 0 0
}
dl dd {
  margin: 0 1.5rem 1.5rem 1.5rem
}
blockquote {
  padding: 0 1.5rem;
  margin: 3rem 0
}
blockquote blockquote {
  margin: 1.5rem 0;
  padding: 1.5rem 1.5rem
}
table caption,
table th {
  padding: .75rem 1.5rem;
  text-align: right
}
table td {
  padding: .75rem 1.5rem
}
pre {
  padding: 1.5rem 1.5rem
}
.wp-caption {
  margin: 0 0 3rem 0
}
.wp-caption img {
  margin: 0 auto .375rem auto
}
.wp-smiley {
  margin: 0!important
}
blockquote.alignleft,
blockquote.alignright {
  margin-right: 0;
  margin-left: 0
}
.alignleft {
  float: right;
  margin: 0 0 1.5rem 1.5rem
}
.alignright {
  float: left;
  margin: 0 1.5rem 1.5rem 0
}
.aligncenter {
  margin: 3rem auto
}
.aligncenter .aligncenter,
.alignleft .alignleft,
.alignright .alignright {
  padding: 0 .5em
}
.screen-reader-text {
  margin: -1px
}
.screen-reader-text:focus {
  padding: 15px 23px 14px;
  right: 5px
}
.screen-reader-shortcut {
  padding: 15px 23px 14px;
  right: -300px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.6)
}
.screen-reader-shortcut:focus {
  right: 6px
}
.wp-block-separator {
  margin-right: auto;
  margin-left: auto;
  border-color: var(--foreground-color)
}
.wp-block-separator.is-style-dots:before {
  padding-right: 1em;
  padding-left: 0
}
.wp-block-columns .wp-block-column {
  padding-right: .375rem;
  padding-left: .375rem
}
.wp-block-columns .wp-block-column:first-child {
  padding-right: 0;
  padding-left: .375rem
}
.wp-block-columns .wp-block-column:last-child {
  padding-left: 0;
  padding-right: .375rem
}
.content-comments #comment-form-share-text-padder,
.content-comments #respond #comment-form-comment {
  box-shadow: none
}
.content-comments #comment-form-share-text-padder.active,
.content-comments #respond #comment-form-comment.active {
  box-shadow: none
}
.widget ul ul {
  margin-right: 1.5rem;
  margin-left: auto
}
.widget.milestone-widget .milestone-content {
  margin: 0 auto
}
.widget.widget_author_grid ul li {
  float: right
}
.widget.widget_recent_comments table.recentcommentsavatar td.recentcommentsavatarend,
.widget.widget_recent_comments table.recentcommentsavatar td.recentcommentsavatartop {
  padding: auto
}
.widget.widgt_text ul {
  margin-right: 1.5rem;
  margin-left: auto
}
.widget.widget_flickr #flickr_badge_uber_wrapper td,
.widget.widget_flickr #flickr_badge_wrapper td {
  padding: .5em
}
.widget.widget_flickr #flickr_badge_wrapper {
  border-color: rgba(0,0,0,.3)
}
.widget.widget_authors img {
  margin: 0 auto .75rem auto
}
.widget.widget_authors ul {
  margin: 0 0 1.5rem 0
}
.widget.widget_authors ul ul {
  margin: 0 0 1.5rem 0;
  padding: 0 1.5rem 0 0
}
.widget.widget_blog_subscription input[type=text] {
  padding: .75rem .75rem!important
}
.widget.widget_wpcom_social_media_icons_widget li {
  margin-left: .75rem;
  margin-right: auto
}
.gallery .gallery-item {
  margin: 0 0 1.5rem 0;
  padding: 0 .375rem
}
#wp-calendar td,
#wp-calendar th {
  padding: .375rem 0
}
#wp-calendar caption {
  padding: .375rem 0
}
.post-password-required form {
  padding: 1.5rem 1.5rem
}
.content-comments ol.comment-list {
  margin: 0 0 3rem 0
}
.content-comments ol.comment-list li.comment #respond {
  margin: 0 0 3rem 0
}
.content-comments ol.comment-list li.comment #respond #cancel-comment-reply-link {
  float: left
}
.content-comments ol.comment-list li.comment footer .avatar {
  float: right;
  margin-left: 1.5rem
}
.content-comments ol.comment-list li.comment.depth-1 article {
  padding-right: 0;
  padding-left: auto
}
.content-comments ol.comment-list li.comment.depth-2 article {
  padding-right: 4%;
  padding-left: auto
}
.content-comments ol.comment-list li.comment.depth-3 article {
  padding-right: 8%;
  padding-left: auto
}
.content-comments ol.comment-list li.comment.depth-4 article {
  padding-right: 12%;
  padding-left: auto
}
.content-comments ol.comment-list li.comment.depth-5 article {
  padding-right: 16%;
  padding-left: auto
}
.content-comments ol.comment-list li.comment.depth-6 article {
  padding-right: 20%;
  padding-left: auto
}
.content-comments ol.comment-list li.comment.depth-7 article {
  padding-right: 24%;
  padding-left: auto
}
.content-comments ol.comment-list li.comment.depth-8 article {
  padding-right: 28%;
  padding-left: auto
}
.content-comments ol.comment-list li.comment.depth-9 article {
  padding-right: 32%;
  padding-left: auto
}
.content-comments ol.comment-list li.comment.depth-10 article {
  padding-right: 36%;
  padding-left: auto
}
.content-comments ol.comment-list .edit-link:before {
  margin: 0 0 0 .5em;
  margin-left: .5em
}
#respond p.comment-form-cookies-consent input,
#respond p.comment-subscription-form input,
#respond p.post-subscription-form input {
  margin-left: .5em
}
form.search-form input.search-field {
  border-left: 0
}
form.search-form button.search-submit {
  padding: 0 1.5rem;
  box-shadow: none
}
iframe.twitter-follow-button,
iframe.twitter-tweet,
iframe[src*="8tracks.com"],
iframe[src*="bandcamp.com"],
iframe[src*="dailymotion.com"],
iframe[src*="itchi.io"],
iframe[src*="slideshare.net"],
iframe[src*="soundcloud.com"],
iframe[src*="viddler.com"],
iframe[src*="videopress.com"] {
  margin: 3rem auto
}
iframe.instagram-media {
  margin: 3rem auto!important
}
object {
  margin: 3rem auto!important
}
.mejs-container,
.wp-playlist {
  margin: 3rem 0
}
img#wpstats {
  right: -100px
}
.jetpack-video-wrapper {
  margin: 3rem 0
}
.tiled-gallery {
  margin: 3rem 0
}
main #jp-post-flair,
main div#jp-relatedposts,
main div.pd-rating,
main div.sharedaddy {
  margin: 0 0 3rem 0
}
main div#jp-relatedposts h3.jp-relatedposts-headline em,
main div#jp-relatedposts h3.sd-title,
main div.pd-rating h3.jp-relatedposts-headline em,
main div.pd-rating h3.sd-title,
main div.sharedaddy h3.jp-relatedposts-headline em,
main div.sharedaddy h3.sd-title {
  margin: 0 0 .75rem 0
}
#jp-relatedposts .jp-relatedposts-post-a img {
  margin: 0 auto .75rem auto
}
div.jetpack-testimonial-shortcode .testimonial-entry {
  padding: 1.5rem .75rem
}
div.jetpack-testimonial-shortcode .testimonial-entry-content {
  margin: 0 0 .75rem 0
}
div.jetpack-testimonial-shortcode .testimonial-featured-image {
  float: right
}
div.jetpack-testimonial-shortcode .testimonial-featured-image img {
  margin-left: .5rem;
  margin-right: 0
}
.entry-breadcrumbs a:after {
  margin: 0 1.5rem
}
form.contact-form div label span {
  padding: 0 .75rem
}
body #eu-cookie-law {
  padding: .75rem .75rem
}
body #eu-cookie-law.negative input,
body #eu-cookie-law.positive input {
  padding: .75rem 3rem
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  padding: .75rem .75rem;
  padding: .75rem 3rem
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  padding: .75rem 3rem
}
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
  padding: .75rem .75rem
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border-radius: .2rem .2rem 0 0
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin-right: 2.25rem;
  margin-left: 0
}
li.woocommerce-cart-button li div.widget_shopping_cart {
  padding: .75rem .75rem
}
li.woocommerce-cart-button li div.widget_shopping_cart ul {
  right: auto;
  left: auto
}
li.woocommerce-cart-button li div.widget_shopping_cart p.buttons a {
  margin: 0 0 .75rem 0
}
li.woocommerce-cart-button li div.widget_shopping_cart .total {
  padding: .75rem 0 0 0
}
.wp-post-series-box {
  padding: 1.5rem .75rem 0 .75rem;
  margin: 0 0 3rem 0
}
.wp-post-series-box .wp-post-series-description p {
  margin: 0 0 1.5rem 0
}
.content-posts article.entry .read-more {
  padding: .75rem 0
}
.archive-layout-1 .category-description {
  margin-right: auto;
  margin-left: auto
}
.content-comments {
  padding: 3rem 0
}
@media (min-width:1200px) {
  .content-comments {
    padding: 7.5rem 0
  }
}
.content-comments .no-comments {
  padding: 1.5rem 1.5rem
}
.contributor {
  margin: 4.5rem 0
}
.post-gallery .item {
  float: right;
  padding: 1em
}
.post-gallery .item:nth-child(2n+1) {
  padding-right: 0
}
.post-gallery .item:nth-child(2n+2) {
  padding-left: 0
}
.projects-terms a {
  margin: 0 1.5rem
}
.site-footer {
  padding: 1.5rem 1.5rem 3rem 1.5rem
}
.site-footer .sep {
  margin: 0 .5em
}
.container {
  margin: 0 auto
}
.site-header .custom-logo-link {
  margin-right: 1.5rem;
  margin-left: 1.5rem
}
.site-header .branding {
  margin: 1.5rem 1.5rem
}
.site-header .menu {
  padding: 0 1.5rem
}
a.header-image img {
  margin: 0 auto
}
@media (min-width:44rem) {
  .header-layout-2 {
    padding-right: 10%
  }
  .header-layout-2 .branding {
    right: 0;
    padding: 3rem .75rem;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    text-align: left
  }
  .header-layout-2 .menu-primary .menu-wrap {
    text-align: right
  }
}
#main {
  padding: 0 1.5rem
}
.menu-toggle {
  margin: 0 1.5rem;
  text-align: right
}
.menu-primary > ul {
  padding: .75rem 1.5rem
}
.menu-primary ul ul {
  padding-right: 2.5rem
}
.menu-primary ul ul a {
  padding-right: 0
}
.menu-primary ul ul ul {
  padding-right: 1.5rem
}
.menu-primary ul a {
  padding: .5rem 1.5rem
}
@media (min-width:44rem) {
  .menu-primary .menu-wrap {
    text-align: left
  }
  .menu-primary .menu-wrap ul {
    text-align: right
  }
  .menu-primary .menu-wrap .sub-menu {
    padding-right: 1.5rem
  }
  .menu-primary > .menu-wrap > li.menu-item-has-children > a {
    margin-left: -.5em
  }
  .menu-primary > .menu-wrap > li.menu-item-has-children.focus > .sub-menu,
  .menu-primary > .menu-wrap > li.menu-item-has-children:focus > .sub-menu,
  .menu-primary > .menu-wrap > li.menu-item-has-children:hover > .sub-menu {
    left: 0
  }
}
.pagination {
  margin: 3rem 0
}
@media (min-width:44rem) {
  .pagination {
    margin: 6rem 0
  }
}
@media (min-width:1200px) {
  .pagination {
    margin: 7.5rem 0
  }
}
.pagination .nav-links > a,
.pagination .nav-links > span {
  padding: .75rem 1.5rem
}
.comment-navigation,
.image-navigation,
.post-navigation {
  margin: 3rem 0
}
@media (min-width:44rem) {
  .comment-navigation .nav-links .nav-next,
  .image-navigation .nav-links .nav-next,
  .post-navigation .nav-links .nav-next {
    text-align: left
  }
}
.sidebar .widget {
  padding: .75rem 1.5rem
}
.content-single .entry-single .alignfull {
  margin-right: -1.5rem
}
@media (min-width:69rem) {
  .content-single .entry-single .alignfull {
    margin-right: calc((var(--wp-alignfull-size) - 66rem)/ -2)
  }
}
.content-single .entry-meta span {
  margin-left: .75rem
}
.content-single .alignleft {
  -webkit-transform: translateX(1.5rem);
  transform: translateX(1.5rem)
}
.child-page:nth-child(2n+2) {
  padding-left: 0
}
.child-page:nth-child(2n+1) {
  padding-right: 0
}
.content-testimonials .testimonial .entry {
  padding: .75rem .75rem
}
.content-testimonials .testimonial .entry-meta .avatar {
  margin: 0 auto .75rem auto
}
.single-layout-1 .content-single .entry-single {
  margin-right: auto;
  margin-left: auto
}
.single-layout-1 .content-single .entry-single .alignwide {
  margin-right: 50%;
  -webkit-transform: translateX(calc(-1*((var(--wp-alignfull-size) - 3rem)/ -2)));
  transform: translateX(calc(-1*((var(--wp-alignfull-size) - 3rem)/ -2)))
}
@media (min-width:69rem) {
  .single-layout-1 .content-single .entry-single .alignwide {
    -webkit-transform: translateX(calc(-1*((var(--wp-alignfull-size) - 3rem)/ -2)));
    transform: translateX(calc(-1*((var(--wp-alignfull-size) - 3rem)/ -2)))
  }
}
@media (min-width:76.667rem) {
  .single-layout-1 .content-single .entry-single .alignwide {
    -webkit-transform: translateX(calc(-1*(66rem / -2)));
    transform: translateX(calc(-1*(66rem / -2)))
  }
}
.single-layout-1 .content-single .entry-single .alignfull {
  margin-right: 50%;
  -webkit-transform: translateX(calc(-1*(var(--wp-alignfull-size)/ -2)));
  transform: translateX(calc(-1*(var(--wp-alignfull-size)/ -2)))
}