.editor-rich-text__tinymce.mce-content-body {
  line-height: inherit;
}

.editor-post-title .editor-post-title__input {
  font-family: "Merriweather Sans", sans-serif;
}

.edit-post-visual-editor {
  /*!
 * ## - Typography
 */
}

.edit-post-visual-editor,
.edit-post-visual-editor p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
  font-weight: normal;
  font-family: "Merriweather", serif;
  color: #333333;
  direction: ltr;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "clig" 1;
          font-feature-settings: "kern" 1, "liga" 1, "clig" 1;
  -webkit-font-variant-ligatures: no-discretionary-ligatures;
          font-variant-ligatures: no-discretionary-ligatures;
  /*@replace: embed*/
  unicode-bidi: normal;
}

.edit-post-visual-editor body,
.edit-post-visual-editor html {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
  font-weight: normal;
  font-family: "Merriweather", serif;
  color: #333333;
  direction: ltr;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "clig" 1;
          font-feature-settings: "kern" 1, "liga" 1, "clig" 1;
  -webkit-font-variant-ligatures: no-discretionary-ligatures;
          font-variant-ligatures: no-discretionary-ligatures;
  /*@replace: embed*/
  unicode-bidi: normal;
}

.edit-post-visual-editor h1,
.edit-post-visual-editor h2,
.edit-post-visual-editor h3,
.edit-post-visual-editor h4,
.edit-post-visual-editor h5,
.edit-post-visual-editor h6 {
  color: #000;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: normal;
}

.edit-post-visual-editor h1 a,
.edit-post-visual-editor h2 a,
.edit-post-visual-editor h3 a,
.edit-post-visual-editor h4 a,
.edit-post-visual-editor h5 a,
.edit-post-visual-editor h6 a {
  color: #000;
}

.edit-post-visual-editor h1 a:focus, .edit-post-visual-editor h1 a:hover,
.edit-post-visual-editor h2 a:focus,
.edit-post-visual-editor h2 a:hover,
.edit-post-visual-editor h3 a:focus,
.edit-post-visual-editor h3 a:hover,
.edit-post-visual-editor h4 a:focus,
.edit-post-visual-editor h4 a:hover,
.edit-post-visual-editor h5 a:focus,
.edit-post-visual-editor h5 a:hover,
.edit-post-visual-editor h6 a:focus,
.edit-post-visual-editor h6 a:hover {
  text-decoration: underline;
}

.edit-post-visual-editor h1,
.edit-post-visual-editor h2,
.edit-post-visual-editor h3 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "clig" 1, "swsh" 1;
          font-feature-settings: "kern" 1, "liga" 1, "clig" 1, "swsh" 1;
}

.edit-post-visual-editor h1 {
  font-size: 52px;
  font-size: 3.25rem;
  line-height: 1.25;
}

.edit-post-visual-editor h2 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.25;
}

.edit-post-visual-editor h3 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.5;
}

.edit-post-visual-editor h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: bold;
}

.edit-post-visual-editor h5,
.edit-post-visual-editor h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
  font-weight: bold;
}

.edit-post-visual-editor hr {
  border: none;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.3);
}

.edit-post-visual-editor pre {
  background: #1a1a1a;
  color: #2ECC71;
  padding: 1.5rem 1.5rem;
  overflow: auto;
  display: block;
  word-wrap: normal;
  white-space: pre;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}

.edit-post-visual-editor pre.compress {
  max-height: 22.5rem;
}

.edit-post-visual-editor blockquote {
  padding: 3rem 3rem;
  position: relative;
  background: rgba(0, 0, 0, 0.05);
}

.edit-post-visual-editor blockquote p:last-child {
  margin-bottom: 0;
}

.edit-post-visual-editor h1,
.edit-post-visual-editor h2,
.edit-post-visual-editor h3 {
  margin-top: 3rem;
  clear: both;
}

.edit-post-visual-editor ul,
.edit-post-visual-editor dl,
.edit-post-visual-editor ol {
  clear: both;
}

.edit-post-visual-editor .intro {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.edit-post-visual-editor .drop-cap {
  float: left;
  font-family: "Merriweather", serif;
  font-weight: bold;
  margin: 0 0.05em 0 -0.2em;
  font-size: 100px;
  font-size: 6.25rem;
  line-height: 0.8;
}

.edit-post-visual-editor .highlight {
  background: rgba(241, 196, 15, 0.25);
  padding: 3px 6px;
  border-radius: 0.2rem;
}

.edit-post-visual-editor .button {
  background: #b8960b;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 0.2rem;
  border: none;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.device-click .edit-post-visual-editor .button {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.edit-post-visual-editor .button:focus, .edit-post-visual-editor .button:hover {
  background: #705b07;
  color: #fff;
  text-decoration: none;
}

.edit-post-visual-editor .small-caps {
  font-variant: small-caps;
}
