/*!
 * ## - Archives and Excerpts.
 * Site content, blog posts etc
 */
// @package Jarvis

.content-posts {

	article {

		width: 100%;
		margin-bottom: $grid-line-height * 3;

		h2.entry-title {

			@include modular-scale( gamma );
			font-weight: bold;
			margin: 0;

		}

		// post formats

		&.format-standard {

		}

		&.format-quote {

		}

		&.format-audio {

			.wp-playlist,
			.mejs-container {

				margin-bottom: $grid-line-height / 2;

			}

		}

		&.format-video {

			.jetpack-video-wrapper {

				margin-bottom: $grid-line-height / 2;

			}

		}

		&.format-image {

			.thumbnail {

				margin-bottom: $grid-line-height / 2;

			}

		}

		&.format-gallery {

			.post-gallery,
			.tiled-gallery {

				margin-bottom: $grid-line-height / 2;

			}

		}

		&.post-loaded {

			@include animation( fade-in 0.5s );

		}

	}

	.entry-archive-header {

		margin-bottom: $grid-line-height * 3;

	}

	.entry-archive-title {

		@include modular-scale( alpha );
		letter-spacing: -0.025em;
		font-weight: bold;

		span {

			display: block;
			@include modular-scale( delta );
			letter-spacing: initial;

		}

	}

	.category-description {

		@include modular-scale( delta );
		max-width: ( $grid-total-width * 0.75 );
		margin-bottom: 0;
		margin-top: $grid-line-height;
		font-weight: 100;

		p {

			&:last-child {

				margin-bottom: 0;

			}

		}

	}

}