/*!
 * ## - Footer
 */
// @package Jarvis

.site-footer {

	padding: ( $grid-line-height ) ( $grid-gutter ) ( $grid-line-height * 2 ) ( $grid-gutter );

	.sep {

		margin: 0 $style-spacing;
		opacity: $style-opacity-separator;

	}

	.site-info {

		overflow: hidden;

	}

}
