/*!
 * ## - Footer
 */
// @package Jarvis

#footer {

	padding: $grid-line-height 0;

	.footer-widgets {

		width: 100%;

		.widget {

		}

	}

}

.site-footer {

	text-align: center;

	.sep {

		margin: 0 $style-spacing;
		opacity: $style-opacity-separator;

	}

}
