/*!
 * ## - General Properties
 */
// @package Jarvis

a {

	color: $link-color;
	text-underline-offset: 0.1em;
	text-decoration-thickness: 0.1em;
	@include transition( all 0.1s ease-in-out );

	&:hover {

		text-underline-offset: 0.2em;
		@include transition( all 0.1s ease-in-out );

	}

}

.container {

	@include container;
	@include clear;

}

blockquote {

	@include blockquote;

}

/* avatar */
.avatar {

	border-radius: 10rem;

}