/*!
 * ## - General Properties
 */
// @package Jarvis

a {

	color: $link-color;
	text-decoration: none;
	@include transition( all 0.3s ease-in-out );

	&:hover {

		color: $link-hover-color;
		@include transition( all 0.3s ease-in-out );

	}

}

.container {

	@include container;
	@include clear;

}

blockquote {

	@include blockquote;

}

/* avatar */
.avatar {

	border-radius: 10rem;

}