/*!
 * ## - General Properties
 */
// @package Jarvis

a {

	color: currentColor;
	text-underline-offset: 0.1em;
	text-decoration-thickness: 0.1em;
	text-decoration: underline;
	@include transition( all 0.1s ease-in-out );

	&:focus,
	&:hover {

		text-decoration-thickness: 0.2em;
		text-decoration: none;

	}

}

.container {

	@include container;
	@include clear;

}

blockquote {

	@include blockquote;

}
