/*!
 * ## - Header
 */
// @package Jarvis

.site-header {

	.site-header-content {

		display: flex;
		padding: ( $grid-line-height / 2 ) 0;
		flex-wrap: wrap;

	}

	.custom-logo-link {

		background: black;

		img {

			max-height: 3rem;
			width: auto;
			display: block;

		}

	}

	.branding {

		padding: 0 ( $grid-gutter );

		.site-title a,
		.site-title {

			font-family: $font-family-header;
			@include modular-scale( delta );
			font-weight: bold;
			margin: 0;
			color: $canvas-grey-100;

		}

		.site-description {

			@include post-meta-data();
			margin: 0;

		}

	}

	.menu {

		padding: 1rem;

	}

	// align, menu color
	// @include display-menu();

	// .menu {

	// 	padding: ( $grid-line-height / 2 ) ( $grid-gutter / 2 );

	// 	//@include modular-scale( eta );

	// 	a {
	// 	}

	// 	li {
	// 		ul {
	// 			li {
	// 				a {
	// 					&:hover {
	// 					}
	// 				}
	// 			}
	// 		}

	// 		&.current-menu-item > a {

	// 		}
	// 	}

	// }

}

a.header-image {

	display: block;

	img {

		display: block;
		margin: 0 auto;

	}

}
