/*!
 * ## - Header
 */
// @package Jarvis

.site-header {

	padding-bottom: $grid-line-height * 2;
	background-size: cover;
	background-position: center;

	@include for-tablet {

		padding-top: $grid-line-height;
		padding-bottom: $grid-line-height * 4.5;

	}

	@include for-desktop {

		padding-top: $grid-line-height * 2;
		padding-bottom: $grid-line-height * 7;

	}

	.site-header-content {

		display: flex;
		flex-direction: column;
		margin-top: $grid-line-height;
		margin-bottom: $grid-line-height;

		@include for-tablet {

			align-items: center;
			flex-direction: row;

		}

	}

	.custom-logo-link {

		flex-grow: 1;
		margin-left: $grid-gutter;
		margin-right: $grid-gutter;
		max-width: calc( 15% + #{$grid-gutter * 2});

		img {

			width: auto;
			display: block;

		}

	}

	.branding {

		margin: ( $grid-line-height ) ( $grid-gutter );
		flex-grow: 1;

		.site-title a,
		.site-title {

			font-family: var(--font-title);
			@include modular-scale( delta, 1.2 );
			font-weight: bold;
			margin: 0;
			color: $black;

		}

		.site-title a {

			text-decoration: none;

			&:focus,
			&:hover {

				text-decoration: underline;

			}

		}

		.site-description {

			@include post-meta-data();
			margin: 0;

		}

	}

	.menu {

		margin: 0 ( $grid-gutter );
		flex-grow: 2;

	}

}

