/*!
 * ## - Navigation
 * Main website navigation.
 */
// @package Jarvis

.menu-primary {

	width: 100%;

	// First menu.
	> ul {

		list-style-type: none;
		margin: 0;
		padding: 0;

	}

	// All menus.
	ul {

		display: block;
		background: black;
		padding: 0 ( $grid-gutter );
		color: white;

		li {

			position: relative;
			margin: 0;

			a {

				line-height: 2.5;
				color: currentColor;
				padding: ( $grid-line-height / 2 ) ( $grid-gutter );
				text-decoration: none;

				&:hover {

					text-decoration: underline;

				}

			}

		}

	}

	.menu-wrap {

		display: none;

	}

	// Desktop.
	@include for-tablet {

		.menu-toggle {

			display: none;

		}

		.menu-wrap {

			display: block;
			text-align: right;

			ul {

				text-align: left;
				margin: 0;
				padding: 0;
				color: white;
				list-style-type: none;

				ul {

					margin-left: 1rem;

				}

				a {

					display: block;
					padding: 0.5rem 1rem;

				}

			}

		}

		// First menu.
		> ul {

			background: transparent;

			> li {

				display: inline-block;

				> a {

					color: black;
					font-weight: bold;

				}

				&.menu-item-has-children {

					> .sub-menu {

						display: none;

					}

					&:hover {

						> .sub-menu {

							display: block;
							position: absolute;
							top: 100%;
							left: 0;
							width: 14rem;
							z-index: layer( menu_dropdown );

						}

					}

				}



			}


		}

	}

}