/*!
 * ## - Navigation
 * Main website navigation.
 */
// @package Jarvis

.menu-primary {

	width: 100%;

	// First menu.
	> ul {

		list-style-type: none;
		margin: 0;
		padding: 0;

	}

	// All menus.
	ul {

		display: block;
		background: black;
		padding: ( $grid-line-height / 2 ) ( $grid-gutter );

		li {

			a {

				color: white;

			}

		}

	}

}