/*!
 * ## - Navigation
 * Main website navigation.
 */
// @package Jarvis

.menu-primary {

	width: 100%;

	// First menu.
	> ul {

		list-style-type: none;
		margin: 0;
		padding: 0;

	}

	// All menus.
	ul {

		display: block;
		background: black;
		padding: 0 ( $grid-gutter );
		color: white;

		li {

			position: relative;
			margin: 0;

			a {

				color: currentColor;
				padding: ( $grid-line-height / 2 ) ( $grid-gutter );
				text-decoration: none;

				&:focus,
				&:hover {

					text-decoration: underline;

				}

			}

		}

	}

	.menu-wrap {

		display: none;

	}

	// Desktop.
	@include for-tablet {

		.menu-toggle {

			display: none;

		}

		// All menus.
		// Top layer links.
		.menu-wrap {

			display: block;
			text-align: right;

			// First level of dropdown menus.
			ul {

				text-align: left;
				margin: 0;
				padding: 0;
				color: white;
				list-style-type: none;

				ul {

					padding-left: 2.5rem;
					list-style-type: square;

					a {

						padding: 0.5rem 1rem 0.5rem 0;

					}

				}

				a {

					display: block;
					padding: 0.5rem 1rem;

				}

			}

		}



		// First menu.
		> .menu-wrap {

			background: transparent;
			color: black;

			> li {

				display: inline-block;

				> a {

					font-weight: bold;
					line-height: 2.5;
					color: currentColor;

				}

				&.menu-item-has-children {

					padding-right: 0.5em;

					&:after {

						content: "\25BC";
						font-size: 10px;

					}

					> a {

						margin-right: -0.5em;

					}

				}


				&.menu-item-has-children {

					> .sub-menu {

						display: none;

					}

					&.focus,
					&:focus,
					&:hover {

						> .sub-menu {

							display: block;
							position: absolute;
							padding: ( $grid-line-height / 4 ) 0;
							top: 100%;
							width: 16rem;
							z-index: layer( menu_dropdown );
							right: 0;

							// left: 50%;
							// transform: translateX( -8rem );

						}

					}

				}

			}


		}

	}

}