/*!
 * ## - Pagination
 */
// @package Jarvis

// pagination
.image-navigation,
.comment-navigation,
.post-navigation {

	clear: both;
	margin-bottom: $grid-line-height * $grid-line-height-multiplier;

	.meta-nav {

		@include post-meta-data;
		display: block;

	}

}

/* pagination */
// used on archives/ homepage/ blog post with pages
.pagination {

	@include modular-scale( epsilon );
	text-align: center;
	margin-bottom: $grid-line-height * $grid-line-height-multiplier;
	clear: both;

	> * {

		padding: 0 ( $menu-link-padding / 4 );
		display: inline-block;

	}

	span.current {

		background: $canvas-color;
		color: contrast( $canvas-color );

	}

}
