/*!
 * ## - Pagination
 */
// @package Jarvis

// pagination
.image-navigation,
.comment-navigation,
.post-navigation {

	clear: both;
	margin: ( $grid-line-height * $grid-line-height-multiplier ) 0;

	a {

		text-decoration: none;

	}

	.meta-nav {

		@include post-meta-data;
		display: block;

	}

	.post-title {

		text-decoration: underline;
		display: block;

	}

	.nav-links {

		div:first-child {

			margin-bottom: $grid-line-height;

		}

		@include for-tablet {

			display: flex;
			justify-content: space-between;

			div {

				margin: 0;
				width: 50%;
				flex-grow: 1;

			}

			.nav-next {

				text-align: right;

			}

		}

	}

}

