/*!
 * ## - Pagination
 */
// @package Jarvis

// pagination
.image-navigation,
.comment-navigation,
.post-navigation {

	clear: both;
	margin: ( $grid-line-height * $grid-line-height-multiplier ) 0;

	a {

		text-decoration: none;

	}

	.meta-nav {

		@include post-meta-data;
		display: block;

	}

	.post-title {

		text-decoration: underline;
		display: block;

	}

	.nav-links {

		div:first-child {

			margin-bottom: $grid-line-height;

		}

		@include for-tablet {

			display: flex;

			div {

				margin: 0;
				width: 50%;
				flex-grow: 1;

			}

			.nav-next {

				text-align: right;

			}

		}

	}

}

/* pagination */
// used on archives/ homepage/ blog post with pages
.pagination {

	margin: ( $grid-line-height * $grid-line-height-multiplier ) 0;
	clear: both;

	@include for-tablet {
		margin: ( $grid-line-height * 4 ) 0;
	}

	@include for-desktop {

		margin: ( $grid-line-height * 5 ) 0;
		@include modular-scale( delta );

	}

	.nav-links {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}

	span, a {

		color: $white;
		background: $black;
		padding: ( $grid-line-height / 2 ) ( $grid-gutter );
		display: inline-block;

	}

	.current {

		font-weight: bold;

	}

}
