.sidebar {

	column-count: 3;
	column-width: 20rem;
	column-fill: auto;

	margin-top: $grid-line-height * 3;
	margin-bottom: $grid-line-height * 3;

	.widget {

		padding: ( $grid-line-height / 2 ) ( $grid-gutter );
		display: inline-block;

		.widget-title {

			@include modular-scale( gamma );
			margin-bottom: $grid-line-height / 2;
			font-weight: bold;

		}

	}

}
