.sidebar {

	column-count: 4;
	column-width: 15rem;
	margin-bottom: $grid-line-height * 3;

	.widget {

		padding: ( $grid-line-height / 2 ) ( $grid-gutter );

		.widget-title {

			@include modular-scale( zeta );
			margin-bottom: $grid-line-height / 2;
			font-weight: bold;

		}

	}

}
