.sidebar {

	display: flex;
	flex-wrap: wrap;

	margin-top: $grid-line-height * 3;
	margin-bottom: $grid-line-height * 3;

	@include for-desktop {

		margin-top: $grid-line-height * 5;

	}

	.widget {

		flex-basis: 20rem;
		flex-grow: 1;
		padding: ( $grid-line-height / 2 ) ( $grid-gutter );
		display: inline-block;

		.widget-title {

			@include modular-scale( gamma );
			margin-bottom: $grid-line-height / 2;
			font-weight: bold;

		}

	}

}
