/*!
 * ## - Body
 * Site content, blog posts etc
 */
// @package Jarvis

/* single post and page */
.content-single {

	.entry-header {

		margin-bottom: ( $grid-line-height * 2 );

		@include for-desktop {

			margin-bottom: ( $grid-line-height * 4 );

		}

	}

	// Use a class reference for the titlesince we swap between h1 and h2
	// depending upon if there is a static front page set.
	.entry-title {

		letter-spacing: -0.01em;
		font-weight: bold;
		@include modular-scale( gamma );

		@include for-tablet {

			@include modular-scale( alpha );

		}

		@include for-desktop {

			@include modular-scale( mega );

		}

	}

	.entry-single {

		max-width: $grid-small-width;

		.page-template-full-width & {

			max-width: inherit;

		}

		> h1,
		> h2,
		> h3 {

			margin-top: ( $grid-line-height * 2 );
			clear: both;

		}

		> a:not(.button) {

			padding: 0.5em 0;

		}

		.alignwide {

			// If the page is narrower than the container then use 100vw (the
			// available space) - the gutter.
			width: calc( var( --wp-alignfull-size ) - #{$grid-gutter * 2} );

			// If the page is wider than the container then use the width of the
			// container minus the gutter.
			@include for-big-tablet {

				width: ( $grid-total-width - ( $grid-gutter * 2 ) );

			}

		}

		.alignfull {

			margin-left: -$grid-gutter;
			width: var( --wp-alignfull-size );

			@include for-big-tablet {

				margin-left: calc( ( var( --wp-alignfull-size ) - #{$grid-total-width - $grid-gutter - $grid-gutter} ) / -2 );

			}

		}

	}

	.entry-meta {

		margin-bottom: ( $grid-line-height / 2 );

		span {

			margin-right: ( $grid-gutter / 2 );

		}

	}

	.alignleft {

		transform: translateX( -$grid-gutter );

	}

}

// attachment page
.attachment {

	.attachment-image {

		text-align: center;
		margin-bottom: $grid-line-height * $grid-line-height-multiplier;

	}

	.attachment-description {

		margin-bottom: $grid-line-height * $grid-line-height-multiplier;

	}

	.attachment-caption {

		font-style: italic;

	}

}


/* child pages (on child page template) */
.child-page {

	margin-bottom: $grid-line-height * $grid-line-height-multiplier;

	h2 {

		@include modular-scale( epsilon );

	}

	&:nth-child( 2n + 2 ) {

		padding-right: 0;

	}

	&:nth-child( 2n + 1 ) {

		clear: both;
		padding-left: 0;

	}

}

.page-404 {

	max-width: $grid-small-width;

}

.entry-children {

	margin-top: $grid-line-height * 3;

}