.single-layout-1 {

	.content-single {

		.entry-header {

			text-align: center;

		}

		.entry-single {

			margin-left: auto;
			margin-right: auto;

			.alignwide {

				// Mobile works fine.

				@include for-tablet {

					margin-left: calc( ( var( --wp-alignfull-size ) - #{$grid-small-width + $grid-gutter + $grid-gutter} ) / -2 );

				}

				// @include for-width( $grid-total-width * 1.11111 ) {
				@include for-big-tablet {

					margin-left: calc( #{$grid-total-width - $grid-small-width - $grid-gutter - $grid-gutter} / -2 );

				}

			}

			.alignfull {

				// Mobile is fine.

				@include for-tablet {

					margin-left: calc( ( var( --wp-alignfull-size ) - #{$grid-small-width} ) / -2 );

				}

			}

		}

	}

}
