.jarvis-font-picker select {
	display: none;
	width: 100%;
}

.jarvis-font-picker ul {
	border: 1px solid #dddddd;
	background: #ffffff;
	padding: 2px;
	border-radius: 4px;
	margin: 1px;
	max-height: 16rem;
	overflow: auto;
	list-style-type: none;
}

.jarvis-font-picker ul li {
	padding: 2px 8px;
	margin: 0;
	border-radius: 2px;
	font-size: 2em;
	line-height: 1.2em;
}

.jarvis-font-picker ul li.selected {
	background: #dddddd;
	color: #000000;
}

.jarvis-font-picker ul li:hover {
	background: #f7f7f7;
}
