img#wpstats {
	position: absolute;
	left: -100px;
	bottom: 100px;
	width: 10px;
	height: 10px;
}

.tiled-gallery {
	margin: 3rem 0;
}

main div.pd-rating,
main div.sharedaddy,
main div#jp-relatedposts,
main #jp-post-flair {
	clear: both;
	margin: 3rem 0;
	padding: 0;
}

#jp-relatedposts .jp-relatedposts-items {
	display: flex;
	justify-content: space-between;
}

#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
	width: 31%;
}

#jp-relatedposts .jp-relatedposts-post-a {
	display: block;
}

#jp-relatedposts .jp-relatedposts-post-a img {
	margin: 0 auto 0.75rem auto;
}

#jp-relatedposts .jp-relatedposts-post-title {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.7;
	margin: 0;
}

#jp-relatedposts .jp-relatedposts-post-excerpt {
	display: none;
}

#jp-relatedposts .jp-relatedposts-post-context,
#jp-relatedposts .jp-relatedposts-post-date {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.5;
	font-family: var(--font-meta);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 0;
}

div.jetpack-testimonial-shortcode {
	margin-bottom: 3rem;
}

div.jetpack-testimonial-shortcode:after {
	content: "";
	display: block;
	clear: both;
}

div.jetpack-testimonial-shortcode .testimonial-entry {
	margin: 0;
	padding: 1.5rem 0.75rem;
}

div.jetpack-testimonial-shortcode .testimonial-entry-content {
	margin: 0 0 0.75rem 0;
}

div.jetpack-testimonial-shortcode .testimonial-entry-title {
	display: inline-block;
}

div.jetpack-testimonial-shortcode .testimonial-featured-image {
	float: left;
}

div.jetpack-testimonial-shortcode .testimonial-featured-image img {
	max-height: 1.5rem;
	width: auto;
	-webkit-margin-end: 0.5rem;
	margin-inline-end: 0.5rem;
}

div.jetpack-testimonial-shortcode.column-2 .testimonial-entry {
	width: 50%;
}

div.jetpack-testimonial-shortcode.column-2 .testimonial-entry:nth-of-type(2n + 1) {
	clear: both;
}

div.jetpack-testimonial-shortcode.column-3 .testimonial-entry {
	width: 33.3%;
}

div.jetpack-testimonial-shortcode.column-3 .testimonial-entry:nth-of-type(3n + 1) {
	clear: both;
}

div.jetpack-testimonial-shortcode.column-4 .testimonial-entry {
	width: 25%;
}

div.jetpack-testimonial-shortcode.column-4 .testimonial-entry:nth-of-type(4n + 1) {
	clear: both;
}

form.contact-form .grunion-field-wrap {
	margin-bottom: 0.75rem;
}

form.contact-form .grunion-field-wrap label.grunion-radio-label, form.contact-form .grunion-field-wrap label.grunion-checkbox-multiple-label {
	font-weight: normal;
}

form.contact-form .grunion-field-wrap label.grunion-radio-label input, form.contact-form .grunion-field-wrap label.grunion-checkbox-multiple-label input {
	margin-bottom: 0;
}

form.contact-form .grunion-field-wrap label.grunion-radio-label:last-of-type, form.contact-form .grunion-field-wrap label.grunion-checkbox-multiple-label:last-of-type {
	margin-bottom: 1.5rem;
}

form.contact-form .grunion-field-wrap label span {
	color: var(--foreground-color, #000);
	font-style: italic;
	padding: 0 0.75rem;
	font-weight: normal;
}

form.contact-form .grunion-field-wrap.clear-form {
	display: none;
}

body #eu-cookie-law {
	padding: 0.75rem 0.75rem;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.5;
}

body #eu-cookie-law.positive input, body #eu-cookie-law.negative input {
	background: var(--foreground-color, #000);
	color: var(--foreground-contrast-color, #fff);
	display: inline-block;
	text-decoration: none;
	border: none;
	border-radius: 0;
	padding: 0.75rem 3rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.5;
}

.device-click body #eu-cookie-law.positive input, .device-click body #eu-cookie-law.negative input {
	transition: all 0.15s ease-in-out;
}

body #eu-cookie-law.positive input:focus, body #eu-cookie-law.positive input:hover, body #eu-cookie-law.negative input:focus, body #eu-cookie-law.negative input:hover {
	text-decoration: underline;
	box-shadow: 0.4rem 0.4rem 0 var(--foreground-color, #000);
}

/*
 * Top Posts Widget styles for Jetpack
 */
/* 2-Column Grid Layout */
.widgets-grid-layout {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.widgets-grid-layout .widget-grid-view-image {
	width: 50%;
}

/* List Layout */
.widgets-list-layout {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.widgets-list-layout li {
	margin-bottom: 1.5rem;
	display: flex;
}

.widgets-list-layout .bump-view {
	-webkit-margin-end: 0.75rem;
	margin-inline-end: 0.75rem;
	width: 4.5rem;
}

.widgets-list-layout .widgets-list-layout-blavatar {
	width: 100%;
	display: block;
	height: auto;
}

.widgets-list-layout .widgets-list-layout-links {
	flex-grow: 1;
	width: 50%;
}

.widgets-list-layout span {
	opacity: 0.5;
}

.widgets-list-layout span:hover {
	opacity: 0.8;
}

body .widgets-list-layout img.widgets-list-layout-blavatar {
	max-width: 100%;
}

.jetpack_subscription_widget #subscribe-email input {
	width: 100%;
	margin: 0;
}
