body {
	--toolbelt-spacing: 1.5rem;
}

.toolbelt-menu-social {
	margin-bottom: 1.5rem;
}

.toolbelt-menu-social li {
	margin-right: 0.75rem;
}

.toolbelt-menu-social .icon {
	width: 1.5rem;
	height: 1.5rem;
}

.toolbelt-video-wrapper {
	margin: 3rem 0;
}
