body {
	--toolbelt-spacing: 1.5rem;
}

.toolbelt-menu-social {
	margin-bottom: 1.5rem;
}

.toolbelt-menu-social li {
	-webkit-margin-end: 0.75rem;
	margin-inline-end: 0.75rem;
}

.toolbelt-menu-social .icon {
	width: 1.5rem;
	height: 1.5rem;
}

.toolbelt-video-wrapper {
	margin: 3rem 0;
}

.toolbelt-footnotes {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.5;
	margin: 3rem 0;
}
