.akismet_comment_form_privacy_notice {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.5;
	font-family: var(--font-meta);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
