.give-page .give_forms {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

@media (min-width: 47rem) {
	.give-page .give_forms {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
	}
}

.give-page .give-list-inline {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.give-page .give-list-inline li {
	display: inline;
	margin: 0 1.5rem 0 0;
}

.give-page .give-sidebar {
	padding: 0 1.5rem;
}

.give-page .give-sidebar > * {
	margin-bottom: 1.5rem;
}

.give-page .give-sidebar .widget {
	padding: 0;
}

@media (min-width: 47rem) {
	.give-page .give-sidebar {
		max-width: 25rem;
	}
}

.give-page .entry-summary {
	padding: 0 1.5rem;
}

.give-page #give-gateway-radio-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.give-page #give-gateway-radio-list li {
	display: block;
}

.give-page #give-gateway-radio-list label {
	display: inline;
}

.container form[id*=give-form] #give-gateway-radio-list > li input[type=radio] {
	display: inline-block;
}
