// @package Jarvis

// font overrides
$font-base: 16;
$font-family-body: var(--font-body);
$font-family-header: var(--font-header);
$font-uppercase-spacing: 0.1em;

// colours
$black: var(--foreground-color);
$white: var(--foreground-contrast-color);

// main colour, used through the theme
$canvas-background: var(--background-color);

$comments-margin: 4%;

// grid sizes
$grid-total-width: 69rem;
$grid-small-width: 44rem;
$grid-line-height: 1.5rem;
//$grid-line-height-multiplier: 1.5;
$grid-gutter: 1.5rem;

$support-accessible-tagcloud: true;

// default font sizes.
// calculate the sizes with: required-size / 16
$font-sizes: (
	// giga: ( size: 6.25rem, height: 1 ),
	mega: ( size: 6rem, height: 1 ),				// 96px
	alpha: ( size: 4rem, height: 1.25 ),			// 64px
	// beta: ( size: 3.25rem, height: 1.25 ),
	gamma: ( size: 2rem, height: 1.25 ),			// 32px
	delta: ( size: 1.625rem, height: 1.5 ),			// 26px
	epsilon: ( size: 1.25rem, height: 1.5 ),		// 20px
	zeta: ( size: 0.875rem, height: 1.75 ),			// 14px
	eta: ( size: 0.75rem, height: 1.75 ),			// 12px
	// micro: ( size: 0.5rem, height: 1.75 ),
);

// z-index layer positions
$layer: (
	base: 1,
	infinite_footer: 50,
	menu_dropdown: 100,
	top: 100000
);
