// @package Jarvis

// font overrides
$font-family-sans: Cambria, Georgia, serif;
$font-family-serif: Cambria, Georgia, serif;
$font-base: 16;
$font-family-body: $font-family-serif;
$font-family-header: $font-family-sans;
//$line-height: 1.5;


// colours
$black: #000;
$white: #fff;

// main colour, used through the theme
$canvas-background: #ffc;

//$link-color: $canvas-color;

$comments-margin: 4%;

// $body-copy-color: $canvas-grey-60;
// $body-header-color: $canvas-grey-100;


// grid sizes
//$grid-line-height: $line-height * 1rem;
$grid-total-width: 68rem;
//$grid-line-height-multiplier: 1.5;
$grid-gutter: 1rem;
//$grid-column-gutter: 1 / 2;

// menu properties
// $menu-link-padding: $grid-gutter / 2;
// $menu-arrow-size: 0.4rem;
// $menu-parent-link-vertical-padding: 0;
// $menu-dropdown-width: 20em;

$support-accessible-tagcloud: true;

// default font sizes.
// calculate the sizes with: (100 / 18 * 30) / 100
$font-sizes: (
	// giga: ( size: 6.25rem, height: 1 ),
	// mega: ( size: 5rem, height: 1.25 ),
	alpha: ( size: 4rem, height: 1.25 ),			// 64px
	// beta: ( size: 3.25rem, height: 1.25 ),
	gamma: ( size: 1.875rem, height: 1.25 ),		// 30px
	delta: ( size: 1.625rem, height: 1.5 ),			// 26px
	epsilon: ( size: 1.125rem, height: 1.5 ),		// 18px
	zeta: ( size: 0.875rem, height: 1.75 ),			// 14px
	eta: ( size: 0.75rem, height: 1.75 ),			// 12px
	// micro: ( size: 0.5rem, height: 1.75 ),
);

// z-index layer positions
$layer: (
	base: 1,
	infinite_footer: 50,
	menu_dropdown: 100,
	top: 100000
);
